{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
    <div>
        <div class="overlay padd-tb-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="{% slugurl 'home' %}">Home</a></li>
                            <li class="active">About Filing Wizards</li>
                        </ol>
                        <h2 class="color-white">About Filing Wizards</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MAIN CONTENT START HERE -->
    <section class="body-content">
        <!-- ABOUT SECTION -->
        <div id="about" class="padd-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 res-mrg-50 res-center">
                        <!-- SECTION HEADING -->
                        <div class="mrg-bottom-20 text-center">
                            <div class="title">
                                <h3 class="color-black">The Filing Wizards Advantage</h3>
                            </div>
                        </div>
                        <p>
                            Over the course of many years, we have come to realize that many businesses are unable or
                            unwilling to pay the high fees charged by law firms for business filing services. As you
                            probably know from the research you have done, there are a number of different services you
                            can use to help you with the startup of your new business. Ultimately, it is our goal to
                            provide you with the best possible service at the most reasonable cost, whether your
                            business is new or already established. We hope you enjoy the site, and more importantly,
                            our service. Don’t hesitate to reach out feedback if you think we’re not offering an
                            essential filing service, or with suggestions for things that we can do to improve our
                            client’s experiences. Like you, we are interested in constantly trying to improve our
                            business.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.END ABOUT SECTION -->

        <!-- SERVICE SECTION -->
        <div class="service padd-t-40 bg-gray-light">
            <div class="container">
                <div class="row">
                    <!-- SINGLE ITEM HERE -->
                    <div class="col-md-6">
                        <div class="service-item mrg-bottom-60">
                            <div class="title">
                                <div class="font-icon no-border">
                                    <i class="glyph-icon flaticon-graph"></i>
                                </div>
                                <h5 class="inline color-black">Professionalism and Customer Service</h5>
                            </div>
                            <p class="mrg-bottom-20">
                                Once you have decided to work with us, you will be contacted directly by a Filing
                                Wizards professional with extensive experience in the preparation of business filings.
                                Our professional will then work with you to make sure that the business filing you
                                select is properly formatted and complete according to your input and instruction, and
                                will then submit it to the state of your choosing
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item mrg-bottom-60">
                            <div class="title">
                                <div class="font-icon no-border">
                                    <i class="glyph-icon flaticon-coin-5"></i>
                                </div>
                                <h5 class="inline color-black">Comprehensive Packages</h5>
                            </div>
                            <p class="mrg-bottom-20">
                                The service packages we offer are comprehensively designed to help you with the
                                preparation of the main business filings you will need to initially get your business up
                                and running initially and in the long-term. None of our competitors do this.
                            </p>
                            <p>
                                Instead, they offer service packages designed to help you with only the initial filing
                                in the business filing process (i.e., for LLC’s the preparation and submission of the
                                Articles of Organization). Filing Wizards will be there to go the distance with you.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item mrg-bottom-60">
                            <div class="title">
                                <div class="font-icon no-border">
                                    <i class="glyph-icon flaticon-graph-8"></i>
                                </div>
                                <h5 class="inline color-black">Elimination of Unnecessary Services</h5>
                            </div>
                            <p class="mrg-bottom-20">
                                We have streamlined our service packages by eliminating those products and services that
                                we believe are unnecessary. In short, at Filing Wizards, you will only pay for what you
                                actually need. In comparison, our competitors regularly include non-essential items that
                                you do not really need, and in the end, we believe you pay for it, whether the cost is
                                explicitly stated or not.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item mrg-bottom-60">
                            <div class="title">
                                <div class="font-icon no-border">
                                    <i class="glyph-icon flaticon-money"></i>
                                </div>
                                <h5 class="inline color-black">Low Cost</h5>
                            </div>
                            <p class="mrg-bottom-20">
                                The prices we charge for the service packages we offer take into account the fact that
                                you are a new business looking to keep costs down. It is likely for that reason that you
                                have decided to use Filing Wizards for your business filings, instead of a high priced
                                attorney or accountant. We are mindful of this fact, and have priced our service
                                packages accordingly. You simply won’t find a lower price out there for the types of
                                services and customer service we offer in one of our enhanced packages.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="service-item mrg-bottom-60">
                            <div class="title">
                                <div class="font-icon no-border">
                                    <i class="glyph-icon flaticon-rich"></i>
                                </div>
                                <h5 class="inline color-black">User-Friendly Design</h5>
                            </div>
                            <p class="mrg-bottom-20">
                                As you navigate around this site, we hope you notice the extra care that we put into
                                making it clear, concise, organized, and most importantly, easy to use. We believe this
                                will help you to find the information and service package you need, quickly and easily.
                            </p>
                            <p>
                                Beyond that, we believe the straightforward design of this site shows you that quality
                                is important to us. Just because you aren’t paying a lot for our services doesn’t mean
                                you shouldn’t get a great experience. In comparison, our competitors’ sites are often
                                poorly laid out, and cluttered with unnecessary or overly complex information, making it
                                difficult for clients to determine what we offer and what they might need. We hope you
                                will see that with the Filing Wizards’ website, that is not the case.
                            </p>
                        </div>
                    </div>
                    <!-- /.END SINGLE ITEM -->
                </div>
            </div>
        </div>
        <!-- /.END SERVICE SECTION -->
    </section>
    <!-- /.END MAIN CONTENT -->

{% endblock content %}