{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block content %}
    <div>
        <div class="overlay padd-tb-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="{% slugurl 'home' %}">Home</a></li>
                            <li class="active">Terms</li>
                        </ol>
                        <h2 class="color-white">Terms & Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="service" class="padd-100x120">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="service-post">
                        <h3 class="color-black mrg-bottom-30 res-center">Terms of Use</h3>
                        <h6>
                            PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE.
                        </h6>
                        <hr/>
                        <div class="text justified terms">
                            <p class="justified"><strong>Agreement To Terms of Use</strong>. Through your use of <a
                                    href="http://www.filingwizards.com">http://www.filingwizards.com</a> (“Site”), or
                                your purchase of any of the services identified on the Site (“Services”), you (also
                                “your”, “Customer”, “Site User”, “Service User”) agree to be bound by, and comply with,
                                these Terms of Use. <strong>IF AT ANY TIME YOU DO NOT AGREE TO THESE TERMS OF USE,
                                    PLEASE DISCONTINUE ALL USE OF THE SITE</strong>. These Terms of Use may be revised
                                at any time, without notice to you. So please read these Terms of Use carefully, and
                                check back here often.</p>
                            <p class="justified"><strong>Disclaimer As To Nature of Services</strong>. The Filing
                                Wizards Site provides self-help services to assist you with the preparation of corporate
                                documents relating to your business. As such, <strong>FILING WIZARDS IS NOT A LAW
                                    FIRM</strong>. Any Services that you purchase will be performed at your specific
                                direction, based upon the information you provide through the site or through direct
                                communication with a Filing Wizards’ professional. AT NO POINT WILL ANY FILING WIZARDS
                                PROFESSIONAL ACT AS YOUR ATTORNEY OR REVIEW YOUR ANSWERS FOR LEGAL SUFFICIENCY, DRAW
                                LEGAL CONCLUSIONS, PROVIDE LEGAL ADVICE, OR PROVIDE OPINIONS OR RECOMMENDATIONS ABOUT
                                YOUR LEGAL RIGHTS, REMEDIES, DEFENSES, OPTIONS, STRATEGIES, OR APPLY THE LAW TO THE
                                FACTS OF YOUR PARTICULAR SITUATION. IN THE EVENT YOU DETERMINE YOU NEED SPECIFIC LEGAL
                                ADVICE TO ADDRESS ANY ISSUE AT ALL, YOU AGREE TO DISCONTINUE YOUR USE OF THIS SITE AND
                                CONSULT AN ATTORNEY.</p>
                            <p class="justified"><strong>Scope of Actual Services</strong>. Filing Wizards’ Services are
                                limited to a review of the information you provide to us for completeness, proper
                                spelling, grammar, as well as for the internal consistency of any names, addresses, and
                                the like. At no point will any Filing Wizards’ professional review the information you
                                provide from a legal standpoint. Accordingly, you understand that by purchasing Services
                                through Filing Wizards, you will be acting as your own attorney, and you will be solely
                                responsible for any documents that are prepared on your behalf.</p>
                            <p class="justified"><strong>Accuracy of Site Content</strong>. In order to assist you, the
                                Filing Wizards Site contains general information and answers to commonly encountered
                                legal issues and questions. Filing Wizards makes no guarantees that this information
                                applies to your particular situation or personal circumstances. And while we make every
                                effort to keep the Site current, no guarantees are made that the information on the Site
                                is correct, complete, or up-to-date. Furthermore, to the extent the information on this
                                Site contains certain pricing errors or other inaccuracies, Filing Wizards reserves the
                                right to correct at any time any errors, inaccuracies, or omissions, and to revoke any
                                stated offer, even after an order has been submitted and acknowledged, except as
                                prohibited by law.</p>
                            <p class="justified"><strong>Personal Information</strong>. While using this Site, you may
                                be asked to provide us with certain personal information. This information will be
                                protected pursuant to our Privacy Policy, which can be found [ ]. The Privacy Policy is
                                incorporated into this Agreement by reference. However, in the event you are asked to
                                provide a user name and password, you are entirely responsible for maintaining the
                                confidentiality of such user name and password.</p>
                            <p class="justified"><strong>Filing Wizards’ Express Rights in Sites and Services</strong>.
                                This Site and all of the Services provided herein are owned and operated by Filing Pros,
                                LLC. All rights, title and interest in and to the materials provided on this Site,
                                including but not limited to information, documents, logos, graphics, sounds and images
                                (the “Materials”) are owned either by Filing Wizards or by our respective third party
                                authors, developers or vendors (the “Third Party Providers”). Except as otherwise
                                expressly provided by Filing Wizards, none of the Materials may be copied, reproduced,
                                republished, downloaded, uploaded, posted, displayed, transmitted or distributed in any
                                way, and nothing on this Site or in any Services shall be construed to create any
                                license under any of Filing Wizard’s intellectual property rights, whether by estoppel,
                                implication or otherwise. Any rights not expressly granted in these Terms of Use are
                                reserved by Filing Wizards.</p>
                            <p class="justified"><strong>Permissions and Rights Granted To Customer</strong>. Pursuant
                                to Section 6, Filing Wizards hereby grants you permission to download, view, copy and
                                print the Materials on any single stand-alone computer solely for your personal,
                                information, non-commercial use provided that (i) where provided, the copyright and
                                trademark notices appearing on any materials not be altered or removed; (ii) the
                                Materials are not used on any other website or in a networked computer environment and
                                (iii) the Materials are not modified in any way, except for authorized editing of
                                downloadable forms for personal use. THIS PERMISSION TERMINATES AUTOMATICALLY WITHOUT
                                NOTICE IF YOU BREACH ANY OF TERMS OR CONDITIONS OF THESE TERMS OF USE. ON ANY SUCH
                                TERMINATION, YOU AGREE TO IMMEDIATELY DESTROY ANY DOWNLOADED OR PRINTED MATERIALS.</p>
                            <p class="justified"><strong>Limitations on Customers Right to Use</strong>. On our Site we
                                offer self-help “fill in the blank” forms (“Forms”). By ordering or downloading Forms,
                                you agree that the Forms you purchase or download may only be used by you for your
                                personal or business use or used by you in connection with your client, and may not be
                                sold or redistributed without the express written consent of a Filing Wizards’
                                professional. Further, you acknowledge and agree that you have no right to modify, edit,
                                copy, reproduce, create derivative works of, reverse engineer, alter, enhance or in any
                                way exploit any of the Forms in any manner, except for modifications in filling out the
                                Forms for your authorized use. You shall not remove any copyright notice from any Form.
                                You understand that your purchase, download, and/or use of a Form is neither legal
                                advice nor the practice of law, and that each Form and any applicable instructions or
                                guidance is not customized to your particular needs.</p>
                            <p class="justified"><strong>Filing Wizards’ Right To Use</strong>. You agree to grant
                                Filing Wizards a worldwide, royalty-free, non-exclusive and fully sub-licensable right
                                to use, distribute, reproduce, modify, publish and translate the personal information
                                you provide to us, for the purpose of providing the Services you have purchased from us,
                                or as otherwise set forth in Filing Wizards’ Privacy Policy. This license may be revoked
                                at any time by removing your personal information from the Service at issue.</p>
                            <p class="justified"><strong>Filing Wizards’ Money Back Guarantee</strong>. In the event you
                                have a concern arising out of or relating to the use of this Site or our Services,
                                please contact us within 45 days of your purchase, and we will work with you, within our
                                discretion, to address your concern. In the event we cannot correct the issue is
                                concerning you, we offer a money back guarantee up to the amount you paid for our
                                Services.</p>
                            <p class="justified"><strong>Disputes and Arbitration</strong>. Should a dispute arise out
                                of your use of this Site or your purchase of Services, and we are unable to resolve that
                                dispute through the Filing Wizards’ Money Back Guarantee, <strong>we each agree to
                                    resolve that dispute through binding arbitration rather than in a court of general
                                    jurisdiction.</strong> Any party who intends to seek arbitration must first send, by
                                U.S. certified mail, a written Notice of Dispute (“Notice”) to the other party. Any
                                Notice to Filing Wizards should be addressed to: Notice of Dispute, General Counsel,
                                Filing Pros, LLC, 323 East 93<sup>rd</sup>, Apt. 2W, NY, NY 10128. Once Notice is
                                received, you and Filing Wizards then have 30 days to resolve the claim in an amicable
                                manner. If Filing Wizards and you do not reach an agreement to resolve the claim within
                                30 days after the Notice is received, either party may start an arbitration proceeding.
                                Such arbitration will be governed by the Consumer Arbitration Rules&nbsp; (the “AAA
                                Rules”) of the American Arbitration Association (the “AAA”), and will be administered by
                                the AAA. If the arbitrator finds in your favor, you agree that an award of $2,000 is the
                                maximum that will be received, and that under no circumstances will you be eligible for
                                any indirect, punitive, special, incidental, or consequential damages<strong>. </strong>
                            </p>
                            <p class="justified"><strong>NO WARRANTY<strong>.</strong></strong> THE SITE, AND ALL
                                MATERIALS, DOCUMENTS OR FORMS PROVIDED ON OR THROUGH YOUR USE OF THE SITE, ARE PROVIDED
                                ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULLEST EXTENT PERMITTED BY LAW, FILING
                                WIZARDS EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
                                INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
                                PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. FURTHERMORE, FILING WIZARDS MAKES NO
                                WARRANTY THAT: (A) THE SITE, DOCUMENTS, FORMS, OR MATERIALS WILL MEET YOUR REQUIREMENTS;
                                (B) THE SITE, FORMS, DOCUMENTS OR MATERIALS WILL BE AVAILABLE ON AN UNINTERRUPTED,
                                TIMELY, SECURE OR ERROR-FREE BASIS; (C) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF
                                THE SITE, FORMS, DOCUMENTS, OR ANY MATERIALS OFFERED THROUGH THE SITE WILL BE ACCURATE
                                OR RELIABLE; OR (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL
                                PURCHASED OR OBTAINED BY YOU THROUGH THE SITE, OR IN RELIANCE ON THE MATERIALS WILL MEET
                                YOUR EXPECTATIONS.</p>
                            <p class="justified"><strong>LIMITATION OF LIABILITY AND INDEMNIFICATION.</strong> EXCEPT AS
                                PROHIBITED BY LAW, YOU WILL HOLD FILING WIZARDS AND ITS OFFICERS, DIRECTORS, EMPLOYEES,
                                AND AGENTS HARMLESS FOR ANY INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL
                                DAMAGE, HOWEVER IT ARISES (INCLUDING ATTORNEYS’ FEES AND ALL RELATED COSTS AND EXPENSES
                                OF LITIGATION AND ARBITRATION, OR AT TRIAL OR ON APPEAL, IF ANY, WHETHER OR NOT
                                LITIGATION OR ARBITRATION IS INSTITUTED), WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE,
                                OR OTHER TORTIOUS ACTION, OR ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT,
                                INCLUDING WITHOUT LIMITATION ANY CLAIM FOR PERSONAL INJURY OR PROPERTY DAMAGE, ARISING
                                FROM THIS AGREEMENT AND ANY VIOLATION BY YOU OF ANY FEDERAL, STATE, OR LOCAL LAWS,
                                STATUTES, RULES, OR REGULATIONS, EVEN IF FILING WIZARDS HAS BEEN PREVIOUSLY ADVISED OF
                                THE POSSIBILITY OF SUCH DAMAGE. EXCEPT AS PROHIBITED BY LAW, IF THERE IS LIABILITY FOUND
                                ON THE PART OF FILING WIZARDS, IT WILL BE LIMITED TO THE AMOUNT PAID FOR THE PRODUCTS
                                AND/OR SERVICES, AND UNDER NO CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR PUNITIVE
                                DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF PUNITIVE, INCIDENTAL OR
                                CONSEQUENTIAL DAMAGES, SO THE PRIOR LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>
                            <p class="justified"><strong>Compliance with Intellectual Property Laws.</strong> When
                                accessing Filing Wizards or using the Filing Wizards legal document preparation Service,
                                you agree not to upload, download, display, perform, transmit or otherwise distribute
                                any information or content in violation of any third party’s copyrights, trademarks or
                                other intellectual property or proprietary rights. You agree to abide by laws regarding
                                copyright ownership and use of intellectual property, and you shall be solely
                                responsible for any violations of any relevant laws and for any infringements of third
                                party rights caused by any content you provide or transmit or that is provided or
                                transmitted using your Filing Wizards user account. Any content, article or materials
                                that have infringed on the rights of Filing Wizards or of a third party or that violate
                                intellectual property rights generally will be removed.</p>
                            <p class="justified"><strong>Right to Refuse</strong>. You acknowledge that Filing Wizards
                                reserves the right to refuse service to anyone and to cancel user access at any time.
                            </p>
                            <p class="justified"><strong>Future Filing Requirements</strong>. Filing Wizards is under no
                                obligation to inform you or remind you of future filing obligations relating to your
                                Purchase. We agree to help you only with the filings that form the basis of your
                                Purchase, not future filings.</p>
                            <p class="justified"><strong>No Guarantee of Results</strong>. The jurisdiction in which you
                                choose to make your business filings may reject your filings for legal reasons beyond
                                the scope of our services. Additionally, any errors, omissions, or mistakes in the
                                information you provide us related to Services may result in a rejection by the
                                jurisdiction you select. Accordingly, Filing Wizards makes no guarantees as to the
                                acceptability of your business filings by your particular jurisdiction. Clients
                                purchasing Services will not be issued a refund due to the rejection of any filings that
                                are prepared at your direction by Filing Wizards.</p>
                            <p class="justified"><strong>Acknowledgement</strong>. BY USING FILING WIZARDS’ SERVICES OR
                                ACCESSING THE FILING WIZARDS SITE OR SERVICES, YOU ACKNOWLEDGE THAT YOU ARE 18 YEARS OR
                                OLDER, AND HAVE READ THESE TERMS OF USE AND AGREE TO BE BOUND BY THEM.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9 res-mrg-top-50">
                    <div class="page-link">
                        <a class="active" href="{% url 'terms' %}">Terms & Conditions</a>
                        <a href="{% url 'disclaimer' %}">Disclaimer</a>
                        <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.END SERVICE SECTION -->
{% endblock content %}